p{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: xx-large;
    text-align: center;
}

.bin{
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #df3f3f;;
}

*{
    background-color: #62203d;
    margin: 0;
    padding: 0;
}